.java-version
.scala-version

*.iml
.idea/
.idea_modules/
out/

.vscode/
.bsp/
.metals/
.bloop/
metals.sbt

target/
project/target/
project/project/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
generated-docs/

.history
.cache
.lib/

*.class
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
